.stopwatch {
    text-align: center;
    margin-top: 50px;
}

#display {
    font-size: 36px;
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
}
h1{
    text-align: center;
}